.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  background-image: url(../../../images/icon_close.svg);
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  background-size: contain;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
  right: 0;
  width: 20px;
  height: 20px;
  }
}