.element__like {
  height: 20px;
  transition: opacity 0.1s ease-in;
  border: 0;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  background-color: rgba(0, 0, 0, 0);
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__like:active {
  background-image: url(../../../images/like__active.svg);
  opacity: 1;
}

